body{
    font-family: Arial, sans-serif;
            background: #e2e1e1 !important;
            padding: 20px;
    
}
.dashboard_sidebar_head {
    background-color: #ff8802;
    width: 16rem !important;
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff8905 !important;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
    border: 1px solid white !important;
}
.btn:hover {
    background-color: #e64a19 !important;
}
.pagination a.active {
    background-color: #ff8905 !important;
    border: 1px solid white !important;
}

.delete-btn {
    background-color: red !important;
}

button {
    padding: 12px;
    color: #fff;
    background: #ff8905 !important;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
}

button:hover{
   background-color:#e64a19 !important;
}


th{
    background-color: #464646 !important;
    color: white;
  padding: 3px !important;


}
.dashboard {
height: auto !important;
margin-top: 5rem !important;
}